<%= form_for setup_question( @question ) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
    <%= hidden_field( :question, :id ) %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <h3>Answers</h3>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Answer</th>
        <th>Correct?</th>
      </tr>
    </thead>

    <tbody>
        <%= f.fields_for :answers do |fa| %>
        <tr>
          <td>
            <%= fa.hidden_field :id %>
            <div class="field">
              <%= fa.label :answer %><br>
              <%= fa.text_area :answer %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= fa.label :is_correct %><br>
              <%= fa.check_box :is_correct %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h3>Hints</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Hint</th>
      </tr>
    </thead>

    <tbody>
        <%= f.fields_for :hints do |fh| %>
        <tr>
          <td>
            <%= fh.hidden_field :id %>
            <div class="field">
            <%= fh.label :hint %><br>
            <%= fh.text_area :hint %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
